@font-face {
  font-family: "titleStardw";
  src: url(./fonts/Stardew\ Valley\ ALL\ CAPS.ttf);
  }
@font-face {
  font-family: "pixel";
  src: url(./fonts/pixelmix.ttf);
  }    

.background{
  display: block;
  background-color: #252114;
  background-image: url(./img/farm-background-des.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size:  100vw 100vh;
  min-height: 100vh;

}

.title-stardew{
  text-align: center; 
  font-family: titleStardw; 
  font-size: calc(1em + 10vw); 
  color: #be5f01; 
  text-shadow: 1px 1px 2px rgb(12, 1, 1), 0 0 1em #0e0d0c, 0 0 0.2em #252114;margin-top: .3em;

}

.pixelFont{
  font-family: pixel;
}

.box{

  background-color: #f2b56d;

  border: 10px solid #be5f01 ;
  border-style: ridge groove ridge groove;
  border-radius: 10px;
  
  box-shadow: inset -5px 3px #c27b47;

  padding: 1em;
  margin: auto;
  max-width: 500px;

}

.box-card{
  background-color: #f2b56d;

  border: 10px solid #be5f01 ;
  border-style: ridge groove ridge groove;
  border-radius: 10px;
  
  box-shadow: inset -5px 3px #c27b47;

  padding: 1em;
  margin: auto;
  margin-top: -2em;
  max-height: 600px;
  max-width: 380px;
}

.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  box-shadow: -3px 3px 1px #8c6f46;
  font-family: Georgia;
  color: #000000;
  font-size: 20px;
  background: #ce802e;
  padding: 10px 20px 10px 20px;
  border: ridge #9b562e 5px;
  text-decoration: none;

  font-family: pixelFont;
}

.btn:hover {
  border: groove #9b562e 5px;
  background: #855534;
  text-decoration: none;
  color: #f4cda0;
}

.icon-border{
  border: 6px ridge #be5f01;
  border-radius: 10px;
}